@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2'),
    url('../fonts/PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
    url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: inherit;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 55px;
    padding-top: 250px;
    color: #fff

}
.header_logo,
.footer_logo{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 30px;
    color: #fff
}

h2{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.4;

}

h3{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #11272b;
}


.wrapper{
    width: 1280px;
    margin: 0 auto;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header_logo,.footer_logo{
    font-size: 30px;
    color: #eec643;
}

.header_container,.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu_item{
    margin-right: 30px;
}

.promo{
    min-height: 770px; 
    margin: 0; 
    background: url(../images/bg_main.jpg) no-repeat 100%; 
    margin-top: -88px;

}

.promo{
    margin-bottom: 92px;
}
.promo_subtitle{
    color: #fff;

}
.promo__container {
    display: flex;
}

.text-wrap{
  width: 73%;
}

.form_block {
    padding-top: 220px;
    padding-left: 30px;
}
.formblock{
    position: relative;
    height:420px;
    width:270px;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.9);
}
.formblock__inner {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
}
.formblock__title {
    margin: 0;
    line-height: 1;
/*    padding-top: 12px; 
*/    margin-bottom: 15px;
}

.formblock_subtitle {

font-size: 20px;
}

.formblock__input {
    margin-bottom: 15px; 
    margin-top: 30px;    
    display: block;
}
.button_formblock {
    width: 100%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    background-color: #021a23;
    position: absolute;
    bottom: 0;
    height: 70px;
    color: #f9fcfc;
    font-size: 20px;
}
.formblock__input input {
    width: 100%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 2px solid #021a23;
    line-height: 28px;
    height: 30px;
}
select {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .24px;
    width: 100%
}

select {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #021a23;
    height: 30px;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath d='M9.999 12.5h10l-5 5z' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right -10px center;
    position: relative;
    top: -7px;
    -webkit-appearance: none;
    appearance: none;   
}


.row {
  margin-left: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.direction_card { 
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-bottom: 30px;
  min-height: 270px;
  display: block;
  color: #fff;
  padding-top: 20px;
}
.temp_card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  margin: 0;
  height: 100%;
  min-width: 270px;
  min-height: 470px;
  display: block;
  color: #fff;
}
.school_big_card {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;  
    margin-bottom: 30px;
    display: block;
    color: #fff;
    min-height: 170px;
    position: relative;
    padding-top: 20px
}
.school_card {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;  
    margin-bottom: 30px;
    display: block;
    color: #fff;
    min-height: 170px;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.school_card:after{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      background-image: url(../images/play.png);
      background-repeat: no-repeat;
      background-position: center;
}
.school_big_card:after{
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
      background-image: url(../images/play.png);
      background-repeat: no-repeat;
      background-position: center;
}
.directions{
    margin-bottom: 92px;
}
.subrow{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.col-9{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}
@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        position: relative;
    }
    .offset {
        margin-left: 8.33%;
    }
    .col-3,
    .col-5,
    .col-6,
    .col-9,
    .direction_text,
    .school_title_wrap {

        padding-left: 15px;
        padding-right: 15px;
    }
    .col-3 {
        width: 25%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-8 {
        width: 66.64%;
    }
    .direction_title{
    padding-left: 15px;
  }
   .direction_subtitle{
    padding-left: 15px;
    line-height: 1.4;
}
.direction_titleV,.direction_subtitleV{
          transform: scale(-1, 1);
          line-height: 1.4;
          padding-left: 15px;
}
    .direction_card_guitar{       
        background-image: url(../images/directions_card_img_1.jpg);
    }
    .direction_card_vocal{
        background-image: url(../images/directions_card_img_2.jpg);
        transform: scale(-1, 1);
        background-size: 125%;
        background-position: center;
    }
    .direction_card_fort{
        background-image: url(../images/directions_card_img_3.jpg);
    }
    .direction_card_lessons{
        background-image: url(../images/directions_card_img_4.jpg);
    }
    .direction_card_btn {
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 30px;
        background-color: #eec643;
        color: #fff;
    }
    .direction_inner_title{
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        margin-left: -15px;
        position: relative;
        margin-top: 16px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        margin-bottom: 30px;
    }
    .direction_text{
        position: absolute;
        margin-top: 91px;
        margin-bottom: 10px;
        padding: 0;
        margin: 0;
        bottom: 0
    }
    .direction_cost{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 15px;
    }
    .direction_inner_title:after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: #eec643;
      bottom: 0;
      left: 0;
    }

    .direction_inner_title:before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: #eec643;
      right: 0;
    }
    .temp_card_crew{
    background-image: url(../images/advantages_card_img_1.jpg);
    background-size: cover;
    background-position: 24% 0;
    }
    .temp_card_result{
    background-image: url(../images/advantages_card_img_2.jpg);
    background-size: cover;
    background-position: -120% 0;
    }
    .temp_card_studio{
    background-image: url(../images/advantages_card_img_3.jpg);
    background-size: cover;
    min-height: 568px;
    background-position: 25% 0;
    }
    .temp_text{
    color: #000;
    }
    .temp_title{
        width: 100%;    
        padding-left: 10px;

    }
    .temp{
        margin-bottom: 90px;
    }
    .temp_subtitle{
      padding-left: 10px;
    }
    .inputs{
      height: 50%;
    }
    .form_temp{
        padding-top: 20px;
        position: relative;
        min-height:570px;
        height: 100%;
        max-width:270px;
        border: 2px solid #eec643;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .formtemp {
      height: 100%;
    }
    .formtemp__inner {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 15px;
        height: 100%;
    }
    .formtemp__title {
        margin: 0;
        line-height: 1;
        margin-bottom: 30px;
        color: #eec643;
    }
    .formtemp_subtitle {
        margin-top:0px;

    }
    .formtemp__input {
        margin-bottom: 5px; 
        margin-top: 60px;    
        display: block;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        height: 20px;
    }
    .formtemp__input {
    margin-bottom: 15px; 
    margin-top: 30px;    
    display: block;
}
/*.button_formblock {
    width: 100%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    background-color: #021a23;
    position: absolute;
    bottom: 0;
    height: 70px;
    color: #f9fcfc;
    font-size: 20px;
}*/
.formtemp__input input {
    width: 100%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 2px solid #eec643;
    line-height: 28px;
    height: 30px;
}
.formtemp__select {
      border-bottom: 2px solid #eec643;

}
    .button_formtemp {
        width: 100%;
        border: 0;
        box-shadow: none;
        background-color: #eec643;
        position: absolute;
        bottom: 0;
        height: 70px;
        color: #f9fcfc;
        font-size: 20px;
    }
    .school{
        margin-top: 90px;
    }
    .contacts{
        margin-top: 90px;
        margin-bottom: 55px;
    }
    .contacts_subtitle{
        margin-left: 55px;
        padding-top: 22px;
    }
    .footer_container{
        margin-top: 90px;
        margin-bottom: 55px;
    }
    .yamap{
        min-width: 100%;
        min-height: 400px;
    }
      .cherry_card{
        background-image: url(../images/video_card_img_1.jpg);
        background-size: cover;
        background-position: 60% 0;
        width: 775px;
        height: 570px

    }
    .school_title_wrap{
        position: absolute;
        width: 70px;
        height: 570px;
        padding: 0;
        margin: 0;
/*        bottom: 30px;
*/    }
    .school_title{
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        margin-left: -15px;
        position: relative;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        margin-top: 166px;

    }
     .school_title_wrap:after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: #eec643;
      bottom: 0;
      left: 0;
    }

    .school_title_wrap:before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 100%;
      width: 2px;
      background-color: #eec643;
      right: 0;
    }
    .school_text,.school_subtitle{
     font-size: 14px;
     margin: 0;
     }
    .school_big_text{
      padding-left: 15px;
      }
      .school_big_subtitle{
      font-size: 20px;
      margin: 0;
      padding-left: 15px;
      padding-top: 25px;
      line-height: 1.4;


    }
    .school_card_yang{
        background-image: url(../images/video_card_img_2.jpg);
        background-size: cover;

    }
    .school_card_summer{
        background-image: url(../images/video_card_img_3.jpg);
        background-size: cover;
    }
    .school_card_pony{
        background-image: url(../images/video_card_img_4.jpg);
        background-size: cover;
    }
    .title_hor{
      width: 100%;
      max-width: 570px;
      position: relative;
      margin-top: 0;
      padding-left: 13px;
    }
    .title_hor:before{
      content: '';
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: #eec643;
      top: 0;
      left: 0;
    }
    .title_hor:after{
      content: '';
      position: absolute;
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: #eec643;
      bottom: 0;
      left: 0;
    }

}
