@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Italic.woff2') format('woff2'),
        url('../fonts/PTSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

h1{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 55px;
    padding-top: 250px;
    color: #fff

}

h2{
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 50px;

}

h3{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #11272b;
}


.wrapper{
    width: 1280px;
    margin: 0 auto;
}

.container{
    width: 1204px;
    margin: 0 auto;
}

.header_logo{
    font-size: 30px;
    color: #eec643;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu_item{
    margin-right: 30px;
}

.promo{
    height: 770px; 
    margin: 0; 
    background: url(../images/bg_main.jpg) no-repeat 100%; 
    margin-top: -88px;

}

.promo_subtitle{
    color: #fff;
}